<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>

    <div class="container-fluid mt-5">
        <div class="row">

            <!-- Sidebar -->
            <div class="col-md-3" id="sidebar">
                <h2>{% block sidebar_title %}User Profile{% endblock %}</h2>
                    <div class="sidebar-content">
                    {% block sidebar_content %}
                        <form method="POST" id="editForm">
                             <!-- Fields to be customized in each dashboard -->
                        </form>
                    {% endblock %}
                    </div>
             </div>


            <!-- Main Content -->
            <div class="col-md-9">
                {% block main_content %}
                <!-- Content specific to each dashboard will be injected here -->
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
