<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation System</title>
</head>
<body>
    <h1>Welcome to the Blood Donation System</h1>
    <h2>Sign up as:</h2>
    <button onclick="window.location.href='/donor_signup'">Donor</button>
    <button onclick="window.location.href='/assistant_signup'">Assistant</button>
    <button onclick="window.location.href='/admin_signup'">Admin</button>

<div class="login-link">
    <p>Already have an account? <a href="/login">Login</a></p>
</div>

</body>
</html>
