<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">

    <title>{% block title %}Update{% endblock %}</title>

</head>
<body>

    <script src="/static/validation.js"></script>

    <div class="container">
        <h1>{% block header %}Update{% endblock %}</h1>

        <form method="POST" action="{% block form_action %}#{% endblock %}">


            {% block form_content %}

            {% endblock %}

            <!-- Butonul de submit -->
            <input type="submit" value="Update">

        </form>


    <div id="error-message" class="alert alert-danger" style="display: none;"></div>

    </div>

</body>

</html>
