{% extends "dashboard_base.html" %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block sidebar_title %}
    Welcome!
{% endblock %}

{% block sidebar_content %}
    <form method="POST" id="editForm">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="first_name" value="{{ admin.FirstName }}" readonly>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="last_name" value="{{ admin.LastName }}" readonly>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ admin.Email }}" readonly>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="{{ admin.Password }}" readonly>
    </div>
    <div class="form-group">
        <label for="cnp">CNP</label>
        <input type="text" class="form-control" id="cnp" name="cnp" value="{{ admin.CNP }}" readonly>
    </div>

        <a href="/logout" class="btn btn-secondary">Log Out</a>
    </form>


{% endblock %}





{% block main_content %}


    <!-- Donor Table -->
    <div class="container mt-5" id="donorTable">
        <h2>Donors</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>CNP</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Blood Group</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for donor in donors %}
                <tr>
                    <td>{{ donor.FirstName }}</td>
                    <td>{{ donor.LastName }}</td>
                    <td>{{ donor.Email }}</td>
                    <td>{{ donor.Password }}</td>
                    <td>{{ donor.CNP }}</td>
                    <td>{{ donor.Age }}</td>
                    <td>{{ donor.Gender }}</td>
                    <td>{{ donor.BloodGroup }}</td>
                    <td>
                        <a href="/delete/donor/{{ donor.DonorID }}">Delete</a>
                        <br/>
                        <a href="/update/donor/{{ donor.DonorID }}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Assistant Table -->
    <div class="container mt-5" id="assistantTable">
        <h2>Assistants</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>CNP</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for assistant in assistants %}
                <tr>
                    <td>{{ assistant.FirstName }}</td>
                    <td>{{ assistant.LastName }}</td>
                    <td>{{ assistant.Email }}</td>
                    <td>{{ assistant.Password }}</td>
                    <td>{{ assistant.CNP }}</td>
                    <td>
                        <a href="/delete/assistant/{{ assistant.AssistantID }} ">Delete</a>
                        <br/>
                        <a href="/update/assistant/{{ assistant.AssistantID }}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
