{% extends 'admin/admin_dashboard.html' %}

{% block title %}Statistici Stocuri de Sânge{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Statistici Stocuri de Sânge</h1>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Grupa de Sânge</th>
            <th>Cantitate în Stoc</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in blood_stocks %}
        <tr>
            <td>{{ stock.BloodGroup }}</td>
            <td>{{ stock.QuantityInStock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
