{% extends "update_base.html" %}

{% block title %}Update Donor{% endblock %}
{% block header %}Update Donor{% endblock %}
{% block form_action %}/update/donor/{{ donor.DonorID }}{% endblock %}
{% block form_content %}
    <!-- Input pentru First Name (din User) -->
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name" value="{{ user.FirstName }}" required>
    <br>

    <!-- Input pentru Last Name (din User) -->
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name" value="{{ user.LastName }}" required>
    <br>

    <!-- Input pentru Email (din User) -->
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="{{ user.Email }}" required>
    <br>

    <!-- Input pentru Password (din User) -->
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="{{ user.Password }}" required>
    <br>

    <!-- Input pentru CNP (din User) -->
    <label for="cnp">CNP</label>
    <input type="text" id="cnp" name="cnp" value="{{ user.CNP }}" required>
    <br>

    <!-- Input pentru Age (din Donor) -->
    <label for="age">Age</label>
    <input type="number" id="age" name="age" value="{{ donor.Age }}" required min="18">
    <br>

    <!-- Input pentru Gender (din Donor) -->
    <label for="gender">Gender</label>
    <select name="gender" id="gender" required>
        <option value="Male" {% if donor.Gender == 'Male' %}selected{% endif %}>Male</option>
        <option value="Female" {% if donor.Gender == 'Female' %}selected{% endif %}>Female</option>
    </select>
    <br>

    <!-- Input pentru Blood Group (din Donor) -->
    <label for="bloodgroup">Blood Group</label>
    <select name="bloodgroup" id="bloodgroup" required>
        <option value="A+" {% if donor.BloodGroup == 'A+' %}selected{% endif %}>A+</option>
        <option value="A-" {% if donor.BloodGroup == 'A-' %}selected{% endif %}>A-</option>
        <option value="B+" {% if donor.BloodGroup == 'B+' %}selected{% endif %}>B+</option>
        <option value="B-" {% if donor.BloodGroup == 'B-' %}selected{% endif %}>B-</option>
        <option value="O+" {% if donor.BloodGroup == 'O+' %}selected{% endif %}>O+</option>
        <option value="O-" {% if donor.BloodGroup == 'O-' %}selected{% endif %}>O-</option>
        <option value="AB+" {% if donor.BloodGroup == 'AB+' %}selected{% endif %}>AB+</option>
        <option value="AB-" {% if donor.BloodGroup == 'AB-' %}selected{% endif %}>AB-</option>
    </select>
    <br>
{% endblock %}
