{% extends "create_base.html" %}

{% block title %}
    Complete Donor Form
{% endblock %}

{% block header %}
    Complete Donor Form
{% endblock %}

{% block form_action %}
    /create/form/{{ donor.DonorID }}
{% endblock %}

{% block form_content %}


    <div class="form-group">
        <label for="name">Form Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ donor.user.FirstName }} {{ donor.user.LastName }} Formular" required>
    </div>

    <div class="form-group">
        <label for="blood_group">Blood Group</label>
        <input type="text" class="form-control" id="blood_group" name="blood_group" value="{{ donor.BloodGroup }}" readonly>
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age" value="{{ donor.Age }}" required min="18">
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" id="gender" name="gender" value="{{ donor.Gender }}" readonly>
    </div>

    <div class="form-group">
        <label for="weight">Weight (kg)</label>
        <input type="number" class="form-control" id="weight" name="weight" value="" required min="60" max="110">
    </div>

    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
    </div>

{% endblock %}