body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
}

.container h1 {
    color: #343a40;
}

.table {
    margin-top: 20px;
    width: 100%;
}

.table th, .table td {
    text-align: center;
}

.btn {
    margin-top: 20px;
}
.navbar {
    background-color: #007bff; /* Culoare albastră */
}

.navbar .nav-link {
    color: white; /* Text alb */
}

.navbar .navbar-brand {
    color: white; /* Text alb pentru brand */
}

.navbar .nav-link:hover {
    color: #dcdcdc; /* Culoare de hover mai deschisă */
}
